<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="#">Fakebook</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.home')}}">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about')}}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.contact')}}">Contact</a>
            </li>
        </ul>
        
        <!-- right side links -->
        <ul class="navbar-nav mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
        </ul>
    </div>
</nav>
